apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: docker.io/insignficant/ansible-vue:latest
    newTag: v0.0.8