apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - ingress.yaml
images:
  - name: docker.io/insignficant/ansible-vue
    newTag: docker.io/insignficant/ansible-vue:0.0.12 # {"$imagepolicy": "fluxcd:ansible-vue-policy"}
